/* gotta make it easier on myself */
*, *::after, *::before {
    margin: 0;
    border: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

/* these will show at various times, but not at the beginning */
.banner, .restart, .submit, .next, .wrong, .correct, summary, .hide {
    display: none;
}


/* pretty dark gradient so background image doens't distract */
html {
    margin: 0;
    padding: 0;
    background: 
        linear-gradient(rgba(10, 10, 10, 1),
        rgba(10, 10, 10, .8)), 
        url(images/Prague_Symphony_by_Mozart.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    background-attachment: fixed;
}

body {
    padding: 30px 0px;
}


h1 {
    font-size: 40px;
    margin: 0 10px;
    color: white;
}



/* classes i can show and hide for correct and wrong answers as needed */

.correct-heading {
    color: rgba(0, 160, 0);
}

.wrong-heading {
    color: rgb(90, 0, 0);
}

.score-correct {
    color: rgb(10, 90, 158);
    font-size: larger;
}

.score-wrong {
    color: rgb(160, 0, 0);
}

.wrong {
    color: white;
    font-size: 30px;
    margin: 0 20px;
    padding: 5px 10px;
    border-radius: 10px;
}

.correct {
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin: 0 20px;
    padding: 5px 10px;
    border-radius: 10px;
}

.question-card-correct{
    background-color:rgba(0, 160, 0, 0.2);
    margin: 20px;
    color: white;
}

.question-card-wrong{
    background-color:rgba(160, 0, 0, 0.3);
    margin: 20px;
    color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px
}


/* more stylings */
.question-card {
    background-color:rgba(10, 90, 158, .35);
    margin: 20px;
    color: white;
    padding: 20px;
    border-radius: 10px
}

.question {
    padding: 10px 0;
    font-size: 30px;
}

.handel {
    width: 60%;
}

.test-btns {
    font-size: 40px;
    padding: 10px 50px;
    background-color: steelblue;
    color: white;
    margin: 20px;
    border-radius: 7px;
}


/* a11y stuff so buttons are navigatable*/
.test-btns:hover {
    background-color: rgb(58, 153, 58);
    color: black;

}

.test-btns:focus {
    background-color: rgb(58, 153, 58);
    color: black;
    outline: none;

}
.btn.selected {
    background-color: steelblue;
    border: 2px solid white;
    color: white;
    pointer-events: none;
    
}

.btn.disabled {
    pointer-events: none;
}

 
.btn:hover {
    background: rgba(0, 0, 0, 0.644);
    color: white;
} 

.btn:focus {
    background: steelblue;
    color: white;
    outline: none;
} 

.banner {
    font-size: 30px;
    padding-top: 15px;
}

.start {
    margin: 20px 0;
}

.flexans {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 0;
}

.btn {
    border-radius: 30px 30px;
}

.answer-btn {
    width: 90%;
    padding: 10px 0;
    font-size: 30px;
    margin: 10px auto;
}

.submit {
    margin: 20px;
    border-radius: 10px 10px;
}

.response p {
    padding: 5px;

}

.imgBank {
    width: 70%;
    max-width: 350px;
}



@media only screen and (min-width: 720px) {
    body {
        max-width: 758px;
    } 
    .fieldset {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 30px;
      justify-content: space-between;
    }
    
    .answer-btn {
        width: 43%;
    }
    .imgBank {
        width:50%;
    }
    .next {
        margin-top: 30px;
    }
    .wrong, .correct {
        font-size: 30px;
    }
  }
