*, *::after, *::before {
    margin: 0;
    border: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
}


html {
    margin: 0;
    padding: 0;
    background: 
        linear-gradient(rgba(10, 10, 10, 1),
        rgba(10, 10, 10, .8)), 
        url(images/Prague_Symphony_by_Mozart.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    background-attachment: fixed;
}

body {
    padding: 30px 0px;
}


h1 {
    font-size: 40px;
    margin: 0 10px;
    color: white;
}

.wrong-heading {
    color: rgb(90, 0, 0);
    background-color: inherit;
}

.wrong {
    font-size: 30px;
    background-color: rgba(120, 0, 0, 0.4);
    margin: 0 20px;
    padding: 5px 10px;
    border-radius: 10px;
}

.correct {
    font-size: 30px;
    background-color: rgba(0, 160, 0, 0.4);
    margin: 0 20px;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.correct-heading {
    color: rgba(0, 160, 0);
}

.banner {
    margin: 30px 10px;
    font-size: 30px;
}

.question-card {
    background-color:rgba(10, 90, 158, .35);
    margin: 20px;
    color: white;
    padding: 20px;
    border-radius: 10px
}

.question-card-correct{
    background-color:rgba(0, 160, 0, 0.2);
    margin: 20px 20px;
    color: white;
}

.question-card-wrong{
    background-color:rgba(160, 0, 0, 0.3);
    margin: 20px 20px;
    color: white;
}

.question {
    padding: 20px 0;
    font-size: 30px;
}
.handel {
    width: 60%;
}


.test-btns {
    font-size: 40px;
    padding: 10px 50px;
    background-color: steelblue;
    color: white;
    margin: 20px;
    border-radius: 7px;
}

.test-btns:hover {
    background-color: rgb(58, 153, 58);
    color: black;

}

.test-btns:focus {
    background-color: rgb(58, 153, 58);
    color: black;
    outline: none;

}

.banner, .restart, .submit, .next, .correct, .wrong {
    display: none;
}

.start {
    margin: 20px 0;
}


.flexans {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0;
}

.btn {
    border-radius: 30px 30px;
}

.answer-btn {
    width: 90%;
    padding: 10px 0;
    font-size: 30px;
    margin: 10px auto;
}


.submit {
    margin: 20px;
    border-radius: 10px 10px;
}

.imgBank {
    width: 50%;
    max-width: 350px;
}

.btn.selected {
    background-color: steelblue;
    border: 2px solid white;
    color: white;
    pointer-events: none;
    
}

.btn.disabled {
    pointer-events: none;
}

 
.btn:hover {
    background: rgba(0, 0, 0, 0.644);
    color: white;
} 

.btn:focus {
    background: rgba(0, 0, 0, 0.644);
    color: white;
    outline: none;
} 

.restart {
    width: 50%;
    height: 20%;
}

.summary {
    display: none;
}


@media only screen and (min-width: 720px) {
    body {
        max-width: 758px;
    }
    .flexans {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    
    .answer-btn {
        width: 40%;
    }
  }
